NEXT_PUBLIC_GTM =GTM-TQ3L7VGX
NEXT_PUBLIC_APP_URL = 
TELEGRAM_BOT_TOKEN =8844561241:AAEfLVo4hokrZf9P93Sx8hu9394kQdRpea0
TELEGRAM_CHAT_ID =139884297
GMAIL_PASSKEY = aorr lhzl imur uunt
EMAIL_ADDRESS =salonijibhe@gmail.com